.tmcc-services-section {
  background-image: url(http://placekitten.com/400/300), url(http://placekitten.com/300/600);
  background-position: left center, left center;
  background-repeat: no-repeat, no-repeat;
}
